*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  float: left;
  background-image: url(../images/statewashington.png);
}

nav {
  width: 375px;
  height: 50px;
  background-color: rgba(252,252,252,0.75);
  margin-top: -2px;
}

nav::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

.shadow {
  /*kept flex center display as placekeeper for user location pin*/
  height: 136px;
  width: 375px;
  background-color: rgba(190,192,197,.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  width: 30%;
  height: auto;
  margin-left: 10px;
  padding-top: 4px;
}

.comingup {
  width: 100%;
  background-color: rgba(252,252,252,0.5);
}

.routediv {
  background-color: rgba(252,252,252,0.5);
  overflow-y:scroll;
  width: 100%;
  height: 373px;
  padding-bottom: 3px;
}

.routes {
  background-color: rgba(255,255,255);
  border-bottom: 1px solid #d9d9d9;
  padding-top: 8px;
  width: 343px;
  margin-left: 16px;
  height: 55px;
}

.routenumber {
  font-size: 2.25em;
  text-align: right;
  display: inline-block;
  width: 80px;
  padding-right: 10px;
  margin-right: 8px;
}

.destination {
  display: inline-block;
}

.enddestionation {
    font-size: 1.2em;
}

.resumesat {
  line-height: 1.25em;
  padding-top: 3px;
}

.alert {
  font-style: italic;
  color: red;
}

.toolbar {
  position: sticky;
}

h2 {
  font-size: 1.71em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.28em;
  padding: 16px;
}

h4 {
  font-size: 1.28em;
  line-height: 1.25em;
  display: inline;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  margin-left: .5em;
}
