*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  /*background-color: #a6a6a6; /*remove in final draft*/
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  float: left;
}

.map {
  position:absolute;
}

.navbox {
  width: 375px;
  height: 64px;
  margin-top: 44px;
  display: inline-block;
  position: fixed;
  background-color: rgba(252,252,252,0.6);
}

.toolbar {
  position: fixed;
  margin-top: 629px;
}
.backarrow {
  display: inline-block;
  float: left;
  margin: 1.25em 1em 1em 1em;
}

.busstop {
  padding-top: .75em;
  text-align: left;
}

.navbox:after {
  content:'';
  height: 159px;
  width: 375px;
  background-color: rgba(195,190,197,0.25);
  margin-top: 0px;
  position: absolute;
}

.comingup {
  display: block;
  position: fixed;
  width: 375px;
  margin-top: 263px;
  background-color: rgba(252,252,252,0.6);
}

.whitebox {
  display: inline;
  margin-top: 263px;
  width: 375px;
}

.routediv {
  display: block;
  background-color: rgba(252,252,252,0.6);
  overflow-y:scroll;
  width: 375px;
  height: 316px;
}

.routes {
  display: inline-block;
  background-color: rgba(252,252,252);
  border-top: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding-top: 8px;
  width: 343px;
  margin-left: 16px;
  margin-bottom: 3px;
  height: 55px;
}

.routes.favorite {
  border-color: #419722;
}

.routenumber {
  font-size: 2.5em;
  text-align: right;
  display: inline-block;
  width: 80px;
  padding-right: 8px;
  border-right: 1px solid #979797;
  line-height: 25px;
  margin-right: 8px;
}

.destination {
  display: inline-block;
}

.enddestionation {
    font-size: 1.2em;
}

.resumesat {
  line-height: 1.25em;
  padding-top: 3px;
}

.alert {
  font-style: italic;
  color: red;
}

h2 {
  font-size: 1.71em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.28em;
  padding: 16px;
}

h3:before {
  content:'';
  margin-left:-4px;
  width:350px;
  height:1px;
  background:#cccccc;
  position:absolute;
  top:46px;
}

h4 {
  font-size: 1.28em;
  line-height: 1.25em;
  display: inline;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  margin-left: .5em;
}
