*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  /*background-color: #a6a6a6; /*remove in final draft*/
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  float: left;
}

.map {
  background-image: url("images/map2.png");
  position: fixed;
}

.pin {
  display: inline;
  position: fixed;
  margin-top: 28px;
  margin-left: 186px;

}

.navbox {
  width: 375px;
  height: 50px;
  margin-top: 21px;
  display: inline-block;
  position: fixed;
  background-color: rgba(252,252,252,0.6);
}

.toolbar {
  position: fixed;
  margin-top: 629px;
}

.chevron {
  display: inline-block;
  float: left;
  margin: 1.35em 1em 1em 1em;
  width: 2.5%;
  height: auto;
}

.busstop {
  padding-top: .55em;
  text-align: left;
}

.shadow {
  content:'';
  height: 136px;
  width: 375px;
  background-color: rgba(195,190,197,0.20);
  margin-top: 71px;
  float: left;
  position: fixed;
  display: inline-block;
}

.comingup {
  display: block;
  position: fixed;
  width: 375px;
  margin-top: 207px;
  background-color: rgba(252,252,252,0.5);
}

.routediv {
  display: block;
  background-color: rgba(252,252,252,0.5);
  overflow-y:scroll;
  width: 375px;
  height: 373px;
}

.routes {
  display: inline-block;
  background-color: rgba(255,255,255);
  border-top: 1px solid #d9d9d9;
  padding-top: 8px;
  width: 343px;
  margin-left: 16px;
  padding-bottom: 3px;
  height: 55px;
}

/*old routes
.routesb {
  display: inline-block;
  background-color: rgba(255,255,255);
  border-top: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding-top: 8px;
  width: 343px;
  margin-left: 16px;
  margin-bottom: 3px;
  height: 55px;
}*/

.routenumber {
  font-size: 2.25em;
  text-align: right;
  display: inline-block;
  width: 80px;
  padding-right: 10px;
  margin-right: 8px;
}

.destination {
  display: inline-block;
}

.enddestionation {
    font-size: 1.2em;
}

.resumesat {
  line-height: 1.25em;
  padding-top: 3px;
}

.alert {
  font-style: italic;
  color: red;
}

h2 {
  font-size: 1.71em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.28em;
  padding: 16px;
}

/*3:before {
  content:'';
  margin-left:-4px;
  width:354px;
  height:1px;
  background:#cccccc;
  position:absolute;
  top:46px;
}
*/

h4 {
  font-size: 1.28em;
  line-height: 1.25em;
  display: inline;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  margin-left: .5em;
}

.whitebox {
  display: inline;
  margin-top: 263px;
  width: 375px;
}

.routes.favorite {
  border-color: #419722;
}
